// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$email-16-name: 'email-16';
$email-16-x: 0px;
$email-16-y: 34px;
$email-16-offset-x: 0px;
$email-16-offset-y: -34px;
$email-16-width: 16px;
$email-16-height: 16px;
$email-16-total-width: 66px;
$email-16-total-height: 50px;
$email-16-image: './assets/images/sprite.png';
$email-16: (0px, 34px, 0px, -34px, 16px, 16px, 66px, 50px, './assets/images/sprite.png', 'email-16', );
$email-32-name: 'email-32';
$email-32-x: 0px;
$email-32-y: 0px;
$email-32-offset-x: 0px;
$email-32-offset-y: 0px;
$email-32-width: 32px;
$email-32-height: 32px;
$email-32-total-width: 66px;
$email-32-total-height: 50px;
$email-32-image: './assets/images/sprite.png';
$email-32: (0px, 0px, 0px, 0px, 32px, 32px, 66px, 50px, './assets/images/sprite.png', 'email-32', );
$external-link-16-name: 'external-link-16';
$external-link-16-x: 18px;
$external-link-16-y: 34px;
$external-link-16-offset-x: -18px;
$external-link-16-offset-y: -34px;
$external-link-16-width: 16px;
$external-link-16-height: 16px;
$external-link-16-total-width: 66px;
$external-link-16-total-height: 50px;
$external-link-16-image: './assets/images/sprite.png';
$external-link-16: (18px, 34px, -18px, -34px, 16px, 16px, 66px, 50px, './assets/images/sprite.png', 'external-link-16', );
$phone-16-name: 'phone-16';
$phone-16-x: 36px;
$phone-16-y: 34px;
$phone-16-offset-x: -36px;
$phone-16-offset-y: -34px;
$phone-16-width: 16px;
$phone-16-height: 16px;
$phone-16-total-width: 66px;
$phone-16-total-height: 50px;
$phone-16-image: './assets/images/sprite.png';
$phone-16: (36px, 34px, -36px, -34px, 16px, 16px, 66px, 50px, './assets/images/sprite.png', 'phone-16', );
$phone-32-name: 'phone-32';
$phone-32-x: 34px;
$phone-32-y: 0px;
$phone-32-offset-x: -34px;
$phone-32-offset-y: 0px;
$phone-32-width: 32px;
$phone-32-height: 32px;
$phone-32-total-width: 66px;
$phone-32-total-height: 50px;
$phone-32-image: './assets/images/sprite.png';
$phone-32: (34px, 0px, -34px, 0px, 32px, 32px, 66px, 50px, './assets/images/sprite.png', 'phone-32', );
$spritesheet-width: 66px;
$spritesheet-height: 50px;
$spritesheet-image: './assets/images/sprite.png';
$spritesheet-sprites: ($email-16, $email-32, $external-link-16, $phone-16, $phone-32, );
$spritesheet: (66px, 50px, './assets/images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
