{#
/**
 * @file
 * Bootstrap Paragraphs template for Entity Reference Revisions Field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
<div class="container" >
  <div class="row">
    <div class="col-md-12">

      <div class="video-carousel">
        <div class="row no-gutters">

        {% set count = 1 %}
          <div class="col-md-4 tab-title-wrap">
          {% for item in items %}
            <div id="tab-{{ count }}" class="tab-title{% if count == 1 %} active{% endif %}" data-tab-target="#tab-item-{{ count }}" tabindex="0">{{ item.content['#paragraph'].field_title.0.value }}</div>
            {% set count = count + 1 %}
          {% endfor %}
          </div>

        {% set count = 1 %}
          <div class="col-md-8 tab-video-wrap">
          {% for item in items %}
            <div id="tab-item-{{ count }}" class="tab-item-content{% if count == 1 %} active{% endif %}">{{ item.content }}</div>
            {% set count = count + 1 %}
          {% endfor %}
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
